@page
@model LoginModel
<div class="container w-25 mt-5">
    <h3 style="text-align:center" class="h3">LOGIN FORM</h3>
    <form onsubmit="gtag('event', 'click', {'event_category' : 'Login','event_label' : 'Login'});" id="account" method="post">
        <hr />
        <div class="form-group ">
            <label asp-for="Input.Email"></label>
            <input class="form-control " id="email" asp-for="Input.Email" required>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" id="password" required />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="checkbox form-group">
            <label asp-for="Input.RememberMe">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-purple btn-block">LOGIN</button>
        </div>
        <div class="form-group  text-center">
            <a href="../../authentication/register" class="btn btn-success " onclick="gtag('event', 'click', {'event_category' : 'Login','event_label' : 'CreateAccount'});">Create Account</a>
        </div>
        <div class="form-group">
            <p>
                <a id="forgot-password" class="text-center" asp-page="./ForgotPassword">Forgot your password?</a><!--TODO change/update this-->
            </p>
        </div>
    </form>
</div>
<!--
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>-->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
